HOOK_STUDIO_ENV=development
HOOK_STUDIO_BASE_PATH=/hook-studio
HOOK_STUDIO_DATA_DIR=./data
HOOK_STUDIO_ACCESS_CODES_FILE=./config/access_codes.yaml
HOOK_STUDIO_SESSION_SECRET=replace-with-at-least-32-random-characters
HOOK_STUDIO_SESSION_TTL_SECONDS=43200
HOOK_STUDIO_COOKIE_SECURE=false
HOOK_STUDIO_GLOBAL_VIDEO_DAILY_LIMIT=100
HOOK_STUDIO_GLOBAL_IMAGE_DAILY_LIMIT=100000
HOOK_STUDIO_IMAGE_CONCURRENCY=2
HOOK_STUDIO_VIDEO_CONCURRENCY=2
HOOK_STUDIO_PRODUCTION_CONCURRENCY=2
HOOK_STUDIO_PROVIDER_MODE=fake
HOOK_STUDIO_KERNEL_BASE_URL=http://127.0.0.1:8000
HOOK_STUDIO_KERNEL_BEARER=
HOOK_STUDIO_TTS_BASE_URL=http://120.26.95.170:8544
HOOK_STUDIO_INTERNAL_API_KEY=
HOOK_STUDIO_DEFAULT_TTS_VOICE=zh_male_m191_uranus_bigtts
HOOK_STUDIO_CRAWLER_BASE_URL=http://121.15.184.231:6080
HOOK_STUDIO_CRAWLER_API_KEY=
HOOK_STUDIO_ASR_API_KEY=
